name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - "24"
          - "22"
          - "20"
          - "18"
        include:
          - node: "14"
            ENABLE_CODE_COVERAGE: true
    name: Run tests on NodeJS ${{ matrix.node }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install NPM dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm test

      - name: Upload code coverage
        if: matrix.ENABLE_CODE_COVERAGE
        uses: codecov/codecov-action@v1
